.search-result-container {
    padding-top: 80px;
    /* z-index: 1; */
}



.search-result {
    z-index: 2;
    position: relative;
}

.apartment {
     /* border: 2px solid black; */
     height: 280px;
     width: 250px;
     display: inline-block;
     margin: 25px;
     background-color: rgb(233, 227, 227);
     border-radius: 6px;
     position: relative;
}

.heart-svg {
    position: absolute;
    top: 3%;
    right: 5%;
    /* fill: red; */
}

.single-apartment-info-container {
    cursor: pointer;
}

.page-back-btn, .page-forward-btn {
    position: relative;
    z-index: 1;
    height: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.pagination-container {
    display:inline-block;
    position: relative;
    border: 2px solid black;;
}

.page {
    display:inline-block;
    position: absolute;
    z-index: 1;
    font-size: 28px;
    margin: 0;
    top: 20%;
    left: 38%;
}