.recommended-apartment-info-container, #grid-recommended-titles {
    display: grid;
    grid-template-columns: auto auto auto ;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.recommended-apartment-title, .recommended-apartment-date, .recommended-apartment-time {
    display: inline;
    margin: 0;
    width: 150px;
    margin: 0 auto;
}

.recommended-apartment-title {
    cursor: pointer;
}