.browse-container {
    padding-top: 80px;
    background-color: rgba(245, 222, 179, 0.829);
    position: absolute;
    width: 500px;
    height: 330px;
    top: 0%;
    left: 30%;
    z-index: 3;
    border-radius: 6px;
    padding: 20px;
}

.search-options {
    display: grid;
    grid-template: 100px auto auto / 500px ;
    grid-template-areas: 
    "result "
    " mainInfo "
    " .  ";
    margin: 0 auto
}

#additional-info-container {
    grid-area: addInfo
}
.furnished, .construction, .parking {
    display: block;
    /* margin-top: 15px; */
    width: 120px;
    height: 25px;
    border-radius: 5px;
    border-style: hidden;
}

.areas-rooms-result-container {
    grid-area: result;
    /* margin-left: 0; */
    /* display:grid;
    grid-template-columns: 300px 300px ;
    grid-template-areas: 
    "areas rooms"; */
    margin: 0 auto
}
.selected-areas {
    grid-area: areas;
    left: 10%;
}

.selected-rooms {
    grid-area: rooms;
    right: 10%;
}

.main-info-input {
    grid-area: mainInfo;
    display: grid;
    grid-template: 35px 35px 35px 35px / 140px 140px;
    grid-template-areas: 
    "area area"
    "min max"
    "construction rooms"
    "parking furnished";
    margin: 0 auto;
}
.area {
    grid-area: area;
    margin: 0 auto;

}

.price-min {
    grid-area: min;
    margin: 0 auto;
}

.price-max {
    grid-area: max;
    margin: 0 auto;
}

.rooms {
    grid-area: rooms;
    margin: 0 auto;
}

.furnished {
    grid-area: furnished;
    margin: 0 auto;
}
.construction {
    grid-area: construction;
    margin: 0 auto;
}
.parking {
    grid-area: parking;
    margin: 0 auto;
}

.search-options input, .rooms{
    display: block;
    /* margin-top: 15px; */
    width: 120px;
    height: 25px;
    border-radius: 5px;
    border-style: hidden;
}

.full-search-btn {
    width: 80px;
    height: 30px;
    padding-top: 4px;
    border-radius: 4px;
    background-color: rgb(222, 248, 248);
    box-shadow: 1.5px 1.5px 2px 2px rgb(89, 172, 172);
    cursor: default;
    margin: 0 auto;
    margin-top: 25px;
}

.full-search-btn:hover {
    background-color: rgb(206, 247, 247);

}

.full-search-btn:active {
    background-color: rgb(178, 240, 240);
    box-shadow: -0.5px -0.6px 2px 2px rgb(89, 172, 172);

}
