.recommended-container-mobile {
    padding-top: 700px;
    z-index: 3;
}

.recommended-container {
    margin-top: 30%; 
    position: relative; 
    /* top: 50%; */
}

.apartment {
    /* border: 2px solid black; */
    height: 280px;
    width: 250px;
    display: inline-block;
    margin: 25px;
    background-color: rgb(233, 227, 227);
    border-radius: 6px;
}

.recommended-apt-headImg {
    height: 145px;
    width: 250px;
}