.quickSearch-container {
    height: 300px;
    width: 600px;
    background-color: rgb(180, 228, 240);
    position: absolute;
    top: 42%;
    left: 25%;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 3px 10px 20px 5px  rgb(122, 214, 236);
}

label {
    display: inline;
}

.quickSearch-options input {
    height: 35px;
    width: 200px;
    font-size: 20px;
    margin: 0 auto;
}

.quickSearch-options {
    display: grid;
    grid-template: 90px 90px / 300px 300px;
    margin-top: 45px;
    /* border: 2px solid black; */
}