.new-ad-container {
    position: absolute;
    top: 20%;
    left: 18%;
    z-index: 3;
    background-color: wheat;
    min-height: 400px;
    width: 800px;
    padding: 9px;
    padding-bottom: 15px;
    border-radius: 7px;
    display: grid;
    grid-template: auto auto auto / auto auto;
    grid-template-areas: 
    "title title"
    "main additional"
    "btn btn";
    
}

.title {
    margin-top: 0;
    grid-area: title;
    font-size: 27px;
}

.main-info-container {
    width: 250px;
    grid-area: main;
}

.area-suggest-result {
    width: 160px;
    min-height: 20px;
    background-color: rgb(222, 248, 248);
    position: absolute;
    top: 34%;
    left: 6.5%;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    cursor: pointer;
}

.title-input, .price-input, .area-input, .floor-input, .size-input {
    height: 25px;
    width: 140px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: hidden;
}

.area-input-container {
    position: relative;
}

.rooms-input {
    height: 32px;
    width: 147px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: hidden;
}

.additional-info-container {
    grid-area: additional;
    display: grid;
    grid-template: 180px auto / auto;

}

.additional-info {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 160px;

}

.additional-info label {
    text-align: left;
}


.create-btn {
    grid-area: btn;
    width: 80px;
    height: 30px;
    padding-top: 4px;
    border-radius: 4px;
    background-color: rgb(222, 248, 248);
    box-shadow: 1.5px 1.5px 2px 2px rgb(89, 172, 172);
    cursor: default;
    margin: 0 auto;
    margin-top: 25px;
    /* position: absolute;
    left: 43%;
    bottom: 15%; */
}

.create-btn:active {
    background-color: rgb(178, 240, 240);
    box-shadow: -0.5px -0.6px 2px 2px rgb(89, 172, 172);
}

.create-btn:hover {
    background-color: rgb(206, 247, 247);
}

.area-input-delete-btn {
    background-color: rgb(177, 247, 247);
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    right: 22%;
    top: 13%; 
    cursor: default;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.area-input-delete-btn:hover {
    background-color: rgb(125, 206, 206);
}

.description-input {
    width: 200px;
    height: 150px;
    border-radius: 4px;
}

.images-input {
    margin: 0 auto;
    width: 180px;
}

.images-title-count {
    font-size: 25px;
}

.uploaded-images {
    width: 500px;
    grid-area: images;
    display: grid;
    grid-template-columns: auto auto auto;
}

.uploaded-image {
    width: 130px;
    height: 110px;
    margin: 10px;
}

.is-furnished, .construction-type-container, .parking-type {
    /* grid-area: checkboxes; */
    width: 160px;
    height: 120px;
    display: grid;
    grid-template:  auto auto auto auto auto / 20px auto auto;
    grid-template-areas: 
    "title title title"
    "division division division"
    "checkbox type vertical-div"
    "checkbox type vertical-div"
    "checkbox type vertical-div"
}


.is-furnished-title {
    margin-bottom: 0;
    grid-area: title;
}

.is-furnished label {
    float: left;
}

.is-furnished input {
    /* grid-area: checkbox; */
    margin-left: 5px;
    border: 2px solid black;

}

.checkbox-container {
    padding-left: 10px;
}

.vertical-division {
    grid-area: vertical-div;
    height: 65px;
    border-right: 1px solid black;
}

.division {
    grid-area: division;
    border-bottom: 1px solid black;
    width: 60px;
    margin: 4px auto;
}